<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Rock Paper Scissors Spock Lizard{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
            {% stylesheets filter='cssrewrite' debug=false output='css/main.css' 'bundles/app/scss/main.scss' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!--[if lt IE 9]>
            <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('vendor/requirejs/require.js') }}"></script>
            <script>
                require(['js/requirejs-config'], function() {
                    require(['jquery', 'bootstrap', 'angular', 'main']);
                });
            </script>
        {% endblock %}
    </body>
</html>
