{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user is null %}
        {% include('registration/register.html.twig') with {'form': regForm} %}
    {% endif %}
    <section class="battle-zone clearfix">
        <h2 class="text-center">Select Your Weapon</h2>
        <form method="{{ form.vars.method }}" action="{{ form.vars.action }}" name="battle_form"
              id="battle_form" class="col-md-12">
            <div class="row">
                <div class="weapons col-md-12 clearfix">
                    {% for weapon in form.userWeapon %}
                        <div class="input-group weapon-{{ loop.index }}">
                            {% set image %}
                                {{ loop.index == 1 ? asset('img/rock.png') }}
                                {{ loop.index == 2 ? asset('img/paper.png') }}
                                {{ loop.index == 3 ? asset('img/scissors.png') }}
                                {{ loop.index == 4 ? asset('img/spock.png') }}
                                {{ loop.index == 5 ? asset('img/lizard.png') }}
                            {% endset %}
                            <img src="{{- image -}}" class="img-{{ loop.index }}" />
                            {{ form_widget(weapon) }}
                            {{ form_label(weapon) }}
                        </div>
                    {% endfor %}
                </div>
                {{ form_widget(form.computerWeapon) }}
                {{ form_widget(form.victor) }}
            </div>
            <input type="hidden" name="_method" value="{{ form.vars.method }}">
            {{ form_widget(form._token) }}
            <button class="btn btn-primary col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3" type="submit">BATTLE</button>
        </form>
    </section>
    <section class="clearfix">
        <button type="button" class="reset-games btn btn-danger pull-right">Reset Games</button>
    </section>
{% endblock %}
