{% extends 'base.html.twig' %}

{% block body %}
    <div class="messages">
        <div data-ng-repeat="message in messages" class="<% message.class %>">
            <p><% message.text %></p>
            <span class="close" data-ng-click="closeAlert($event)">&times;</span>
        </div>
    </div>
    {% if app.user is null %}
        <section class="register-login clearfix">
            <div class="register col-md-6 col-xs-12">
                <h3>Create A User To Play</h3>
                <p>To battle the computer and keep score of your games, create a user!</p>
                {% include('registration/register.html.twig') with {'form': regForm} %}
            </div>
            <div class="login col-md-6 col-xs-12">
                <h3>User Login</h3>
                <p>Do you already have a user? Login below!</p>
                {% include('login/login.html.twig') with {'form': loginForm} %}
            </div>
        </section>
    {% endif %}
    <section class="battle-zone clearfix" style="{{ app.user ? 'display: block;' }}">
        <form method="{{ form.vars.method }}" action="{{ form.vars.action }}" name="battle_form"
              id="battle_form" class="col-md-12" data-ng-submit="submitForm($event)">
            <h3 class="text-center">Select Your Weapon</h3>
            <div class="weapons col-md-12 clearfix">
                {% for weapon in form.userWeapon %}
                    <div class="input-group weapon-{{ loop.index }}">
                        {% set image %}
                            {{ loop.index == 1 ? asset('img/rock.png') }}
                            {{ loop.index == 2 ? asset('img/paper.png') }}
                            {{ loop.index == 3 ? asset('img/scissors.png') }}
                            {{ loop.index == 4 ? asset('img/spock.png') }}
                            {{ loop.index == 5 ? asset('img/lizard.png') }}
                        {% endset %}
                        <img src="{{- image -}}" class="img-{{ loop.index }}" />
                        {{ form_widget(weapon) }}
                        <label for="battle_form_userWeapon_{{ loop.index - 1 }}" class="required"
                               data-ng-click="selectWeapon($event)">{{ weapon.vars.label }}</label>
                    </div>
                {% endfor %}
            </div>
            {{ form_widget(form.computerWeapon) }}
            {{ form_widget(form.victor) }}
            <input type="hidden" name="_method" value="{{ form.vars.method }}">
            {{ form_widget(form._token) }}
            <button type="submit" class="btn btn-danger btn-lg">BATTLE</button>
        </form>
        <div class="battle-info clearfix">
            <div class="clearfix">
                <figure class="player-weapon col-md-6 col-xs-6 text-center">
                    <img src="{{ asset('/img/<% user_img %>.png') }}" />
                    <figcaption>Your Weapon</figcaption>
                </figure>
                <figure class="computer-weapon col-md-6 col-xs-6 text-center">
                    <img src="{{ asset('/img/<% comp_img %>.png') }}" />
                    <figcaption>Computer Weapon</figcaption>
                </figure>
                <h3 class="teaser">
                    The Victor Is...
                </h3>
                <h3 class="victor"><% victor %></h3>
            </div>
            <button type="button" class="btn btn-danger btn-lg" data-ng-click="showBattleZone()">BATTLE AGAIN!</button>
        </div>
    </section>
    <section class="scoreboard clearfix">
        <h3>Scoreboard</h3>
        <table>
            <thead>
                <tr>
                    <th>User Victories</th>
                    <th>Computer Victories</th>
                    <th>Ties</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><% user_victories %></td>
                    <td><% computer_victories %></td>
                    <td><% total_ties %></td>
                    <td>
                        <form action="{{ path('delete_battles') }}" method="post" data-ng-submit="submitForm($event)">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="reset-games btn btn-danger pull-right">Reset Games</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
