{% extends 'base.html.twig' %}

{% block body %}
    <section class="battle-zone col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1">
        <h2 class="text-center">Select Your Weapon</h2>
        <form method="{{ form.vars.method }}" action="{{ form.vars.action }}" name="battle_form" class="col-md-12">
            {{ form_row(form.userWeapon) }}
            <input type="hidden" name="_method" value="{{ form.vars.method }}">
            {{ form_widget(form._token) }}
            <button class="btn btn-primary" type="submit">BATTLE</button>
        </form>
    </section>
{% endblock %}
